.popup {
    position: relative;
    display: flex;
    align-items: center;
    width: 65vh;
    height: 70vh;
    background-color: #fcd49d;
    transform: translateY(-50%);
    transition: transform 0.5s;
    padding: 50px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .popup {
        height: fit-content;
    }
}