.header {
    position: fixed;
    left: 10%;
    z-index: 1;
    height: 100px;
    width: 80%;
    background-color: #fcd49d;
    transition: transform 1s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 15px;
}
